<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">Social Buttons</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            {% if not connected %}
            <li class="nav-item nav-register">
                <a class="nav-link" href="/register">Register</a>
            </li>

            <li class="nav-item nav-login">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}
                

            <li class="nav-item" style="margin-left:50px">
                <a class="nav-link" href="" id="show-users">
                    <i class="fas fa-users"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="" id="show-session">
                    <i class="fas fa-user"></i>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="" id="show-model">
                    <i class="fas fa-table"></i>
                </a>
            </li>

            {% if connected %}
            <li class="nav-item" style="margin-left:50px">
                <a class="nav-link" href="#" id="signoutButton">Logout</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="" id="delete-user">
                    <i class="fas fa-trash" style="color:red"></i>
                </a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>


<div class="modal" id="info-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title" id="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body"><pre><code id="modal-body"></code></pre></div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
