{% include 'head.html' %}

<body>
    {% include 'nav.html' %}


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Social Buttons App</h5>
            <h6 class="card-subtitle mb-2 text-muted">Register for account</h6>

            <form>

                <div id="social-buttons">
                    <div class="form-group">
                        <p class="card-text">Use social login</p>
                        <a href="#" class="social-btn social-btn-google" endurl="/">
                            <i class="fab fa-google fa-lg"></i> &nbsp;&nbsp; Continue with Google
                        </a>
                        <a href="#" class="social-btn social-btn-facebook" endurl="/">
                            <i class="fab fa-facebook-f fa-lg"></i> &nbsp;&nbsp; Continue with Facebook
                        </a>
                        <br>
                        <p class="card-text text-center">or</p>
                    </div>
                </div>
        
        
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="name@example.com">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="">
                </div>

                <input type="hidden" id="vendor"  name="vendor"    value="">
                <input type="hidden" id="vid"     name="vid" value="">
                <input type="hidden" id="picture" name="picture"   value="">

                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

    </div>

</body>
</html>
